.footer-copyright {
    height: 30px;
    background-color: #DDDDDD;
    text-align: center;
    line-height: 30px;
    p {
        margin: 0px;
        color: #666;
        font-size: 11px;
        font-family: "Open Sans", sans-serif;
    }
    a {
        color: #666
    }
}