<swiper [config]="config">
  <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="../../assets/images/1.jpg" alt=""></div>
      <div class="swiper-slide"><img src="../../assets/images/2.jpg" alt=""></div>
      <div class="swiper-slide"><img src="../../assets/images/3.jpg" alt=""></div>
      <div class="swiper-slide"><img src="../../assets/images/4.jpg" alt=""></div>
      <div class="swiper-slide"><img src="../../assets/images/5.jpg" alt=""></div>
      <div class="swiper-slide"><img src="../../assets/images/6.jpg" alt=""></div>
      <div class="swiper-slide"><img src="../../assets/images/7.jpg" alt=""></div>
      <div class="swiper-slide"><img src="../../assets/images/8.jpg" alt=""></div>
      <div class="swiper-slide"><img src="../../assets/images/9.jpg" alt=""></div>        
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>
