<h1 class="home-title">150 superior La Salle Chicago</h1>
<div class="flex-container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
     <div>
        <h3>Luxury has a new address</h3>        
        <p>Beautiful, landmarked home in a fabulous, walk to town location! The home features a spacious foyer and handsome oak staircase, beautiful huge living room with wood-burning fireplace, a coffered ceiling formal dining room, first-floor family room surrounded with windows, gorgeous custom kitchen with paneled cabinetry, granite counters, stone backsplash, SS appliances and room for a small table & chairs.</p>
        <p>Enjoy a bright sun porch off the dining room/kitchen that leads to a huge deck and large fenced yard. The second floor offers four bedrooms, a master bath, hall bath and large double door linen closet. The baths are finished in stone and marble with travertine floors. The third-floor has a terrific 5th bedroom, sitting area/den and full bath perfect for guests. A gorgeous, solid home located in the Ridge Historical District amongst many other beautiful historic homes!</p>
     </div>
     <div>
        <h3> Property Features</h3>
        <ul>
            <li>Great flowing open floor plan</li>
            <li>First floor family room</li>
            <li>Beautiful sunporch</li>
            <li>Pristine oak floors</li>
            <li>Custom kitchen with room for a small table &amp; chairs</li>
            <li>Large deck</li>
            <li>Fenced yard</li>
            <li>Five bedrooms</li>
            <li>Master bath</li>
            <li>Two additional full baths</li>
            <li>Powder room</li>
            <li>Drywalled basement with washer/dryer, work-out area and game area</li>
            <li>See floor plan for room dimensions</li>
            <li><strong>List Price: $869,000</strong></li>
        </ul>
     </div>
 </div>



